*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas/com.example.suaranusa.database.AppDatabase/
/app/schemas/com.example.suaranusa.database.HistoryDatabase/
